
body {
    font-family: "Montserrat";
    text-align: center;
    overflow-x: hidden;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: "Montserrat-Bold";*/
/*}*/

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    /*font-family: "Montserrat-Black";*/
    /*font-size: 3.5rem;*/
    /*line-height: 1.5;*/

    margin: 0;
    display: inline;
    color: #ffffff;
    font-size: 4rem;
    opacity: 0.8;
    line-height: 4rem;
}

@media screen and (max-width: 768px) {
    .big-heading {
        font-size: 2rem;
        line-height: 1rem;
    }
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}



.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    /*background: url('../images/enset team.jpg') center/ cover;*/
    color: #fff;
    text-align: center;
    background-image: url('../images/enset team.jpg');

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    left: 50%;

}


#overlay {

    background: #000000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    display: block;

}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}



/* Teams Section */

#team {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.team-img{
    width: 60%;
    border-radius: 100%;
    margin: 20px;
}

/* Testimonial Section */

#testimonials {
    background-color: #8a72ef;
}

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press {
    background-color: #8a72ef;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.service-icon {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

#footer .row {
    display: flex;
}

@media (max-width: 1028px) {
    #footer .row :nth-child(odd) {
        order: 1;
    }

}

/*map responsive*/

.map-responsive {

    overflow: hidden;

    padding-bottom: 10.25%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;

}

#footer {
    background-color: #7A86B6;
    color: white;
}

#footer p {
    color: #f8f6f6;
}
